div {
  background-color: gray;
  padding: 20px;
  margin: 30px;
  display: inline-block;
  border-width: 13px;
  border-color: red;
  border-style: solid;
  background-image: linear-gradient(red, yellow);

}